layout {
	background-color "#1e100e"

    focus-ring {
        active-color "#ffb4aa"
        inactive-color "#aa8984"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4aa"
        inactive-color "#aa8984"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4aa"
        inactive-color "#aa8984"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4aa80"
    }
}

overview {
	backdrop-color "#1e100e"
}
